<div class="flex center-center full-height relative main-container">
    <div class="container flex padding-10px">
        <form class="flex column gap-1em">
            <h2 class="no-margin">40% OFF ONLINE - YOU'VE EARNED IT*</h2>
            <p class="no-margin">You'll officially be in the loop for NEW <span class="color-black">HUSH PUPPIES</span> arrivals, BIG Deals,
                EXCLUSIVE sales AND MORE
            </p>
            <div class="flex column relative gap-1em">
                <input type="text" placeholder="Enter Your Email Address">
                <hr class="absolute">
            </div>
            <a href="mailto: thapeloghothini@gmail.com" class="btn flex center-center m-t-05em pointer">
                <p class="no-margin color-white">GET 40% OFF</p>
            </a>
            <div class="footer flex column gap-1em">
                <div class="flex">
                    <small><strong>*OFFER VALID FOR NEW SUBSCRIBERS ONLY</strong><span class="color-blue"> YOU!</span></small>
                </div>
                <small (click)="copyContact(0)" class="more">SEE OFFER DETAILS</small>
            </div>
        </form>
        <div class="ad-img">
            <mat-icon (click)="setCookie('Ad', true, 1)" title="Close ad"
                class="close no-margin pointer color-white z-index">close
            </mat-icon>
            <div class="flex column contact absolute">
                <div class="contact flex a-center gap-05em">
                    <p class="no-margin  color-white">Call us on:</p>
                    <mat-icon class=" color-white">phone</mat-icon>
                    <p (click)="copyContact(1)" class="no-margin color-white pointer"><span id="auto-type">
                            {{contactNumber}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>