<div class="flex center-center column border-box full-width full-height main-container">
    <mat-icon (click)="close()" title="Close about" class="close no-margin pointer color-white z-index">close
    </mat-icon>
    <p class="about no-margin text-center">
        <span class="span">Likes Meter Flicks</span>, We hold a sea of rated Google users Films and TV Shows liked by passionate fans just like you! Liked from any decade on top rating from 80% going up. We're ad-free; Enjoy finding hidden gems
        without any interruptions. If you're unsure about a Film or TV Show you can watch its Official Trailer directly from our website, just click on the recommendation & choose 'Videos'.
    </p>
    <!-- <img class="about-icon" src="../../../assets/images/likes.png" alt=""> -->
    <hr class="full-width">
    <!-- <p class="txt-small no-margin">&#169;2024 Ghothini</p> -->
    <a href="mailto: thapeloghothini@gmail.com" class="no-margin about-link email-contact pointer text-center"
        title="Let's discuss on something cool together!">Designed and Developed by Thapelo Ghothini</a>
</div>