<div class="flex center-center column full-height main-container">
    <div class="full-width">
        <img class="google-icon" src="../../../assets/images/google-logo.png" alt="">
    </div>
    <p class="about no-margin text-center">
        Introducing <span class="span">Likes Meter Flicks</span>, your ultimate destination for entertainment!,
        Much like <a href="https://www.google.com/search?q=imbd&rlz=1C1AVFC_enZA1088ZA1088&oq=imbd&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7Mg4IARAAGAoYQxiABBiKBTIGCAIQRRhAMg8IAxAAGEMYsQMYgAQYigUyDAgEEAAYQxiABBiKBTISCAUQLhhDGMcBGNEDGIAEGIoFMgwIBhAAGEMYgAQYigUyBggHEEUYPNIBCDE2MjVqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8" target="_blank">IMDb</a>, but with its own distinct flair. Lmf is a platform that holds a sea of rated <a
            href="https://www.google.com/search?q=Google+user+means&rlz=1C1AVFC_enZA1088ZA1088&oq=Google+user+means&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yDAgCEAAYChgPGBYYHjINCAMQABiGAxiABBiKBTINCAQQABiGAxiABBiKBTINCAUQABiGAxiABBiKBTIGCAYQRRhA0gEHNjY3ajBqOagCALACAQ&sourceid=chrome&ie=UTF-8" target="_blank">
            Google users</a> movies and TV shows by passionate fans just like you! From Lmf your next viewing experience
        will be one to remember.
    </p>
    <hr class="full-width">
    <div class="flex column center-center">
        <p class="no-margin">&#169;2024 Ghothini</p>
        <a href="mailto: thapeloghothini@gmail.com" 
            class="no-margin email-contact text-center pointer"
            title="Let's discuss on something cool together!">Designed and Developed by Thapelo Mokotelakoena</a>
    </div>
</div>