<div class="flex center-center column border-box full-width full-height main-container">
    <mat-icon (click)="close()" title="Close about" class="close no-margin pointer color-white z-index">close
    </mat-icon>
    <p class="about no-margin text-center">
        <span class="span">Likes Meter Flicks</span>,
        Much like <a
            href="https://www.google.com/search?q=imbd&rlz=1C1AVFC_enZA1088ZA1088&oq=imbd&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7Mg4IARAAGAoYQxiABBiKBTIGCAIQRRhAMg8IAxAAGEMYsQMYgAQYigUyDAgEEAAYQxiABBiKBTISCAUQLhhDGMcBGNEDGIAEGIoFMgwIBhAAGEMYgAQYigUyBggHEEUYPNIBCDE2MjVqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8"
            target="_blank" class="about-link">IMDb</a> but with its own distinct flair. <span class="lmf">Lmf</span> is a platform that
        holds a sea of rated <a
            href="https://www.google.com/search?q=Google+user+means&rlz=1C1AVFC_enZA1088ZA1088&oq=Google+user+means&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIICAEQABgWGB4yDAgCEAAYChgPGBYYHjINCAMQABiGAxiABBiKBTINCAQQABiGAxiABBiKBTINCAUQABiGAxiABBiKBTIGCAYQRRhA0gEHNjY3ajBqOagCALACAQ&sourceid=chrome&ie=UTF-8"
            target="_blank" class="about-link">
            Google users</a> movies and TV shows liked by passionate fans just like you! Whether you're seeking the next binge-worthy series or a hidden gem waiting to be uncovered, Likes Meter Flicks has you covered!
    </p>
    <!-- <img class="about-icon" src="../../../assets/images/likes.png" alt=""> -->
    <hr class="full-width">
    <!-- <p class="txt-small no-margin">&#169;2024 Ghothini</p> -->
    <a href="mailto: thapeloghothini@gmail.com" class="no-margin about-link email-contact pointer text-center"
        title="Let's discuss on something cool together!">Designed and Developed by Thapelo Ghothini</a>
</div>