
<div class="icon relative">
    <div class="phone-container absolute">
        <img src="../../../assets/images/phone-icon.png" class="phone img" alt="">
        <img src="../../../assets/images/ghothini.png" class="ghothini img" alt="">
        <div class="flex column center-center google-flicks">
            <img src="../../../assets/images/google-logo.png" class="google" alt="">
            <p class="no-margin"><strong>Likes Meter Flicks</strong></p>
        </div>
    </div>
    <div class="meter-container absolute">
        <img src="../../../assets/images/meter.png" class="meter" alt="">
        <img src="../../../assets/images/likes.png" class="likes" alt="">
        <b>
            <p class="no-margin stats-90" id="stat-90"></p>
        </b>
        <b>
            <p class="no-margin stats-80" id="stat-80"></p>
        </b>
    </div>
</div>