<div class="flex column gap-05em flicks-options center-center z-index">
    <div class="flex column m-t-05em">
        <div class="gap-1em titles flex center-center  z-index-300 z-index">
            <div class="flex center-center gap-3em">
                <img class="google pointer"
                    src="../../../assets/images/google-logo.png" alt="">
                <div class="flex gap-1em center-center">
                    <p (click)="changeFlicksTitle(i)" *ngFor="let flicksTitle of flicksTitles;let i = index"
                        [class.selected-title]="i === selectedTitle" class="no-margin pointer">
                        {{flicksTitle}}</p>
                </div>
            </div>
        </div>
        <div class="years full-width border-box wrap gap-05em flex center-center">
            <div *ngFor="let year of allMoviesYearsArr;let i as index" class="flex a-center">
                <div class="year-container flex center-center">
                    <p class="no-margin pointer" (click)="filter('year',year)">{{year.toString()}}</p>
                </div>
                <hr [class.hide]="year === allMoviesYearsArr[allMoviesYearsArr.length - 1]" class="hr">
            </div>
        </div>
    </div>
</div>
<div class="p-b-05em flex center-center">
    <div class="body-container">
        <div class="content flex gap-1em wrap">
            <div  *ngIf="isServerError" class="server-404 flex column center-center full-height">
                <div class="inner-container column flex j-center space-around">
                    <div class="container flex column a-center gap-3em">
                        <div class="flex a-center gap-05em">
                            <mat-icon>error</mat-icon>
                            <p class="font-size-x-l">Server not found.</p>
                        </div>
                    </div>
                    <img src="../../../assets/images/not-found-ghost-white.png" alt="">
                </div>
                <button (click)="reloadPage()" title="Refresh page" mat-raised-button color="primary">Refresh</button>
            </div>
            <router-outlet *ngIf="isContentChanged"></router-outlet>
            <div *ngIf="!isContentChanged" class="flex gap-1em wrap">
                <mat-card *ngFor="let movie of allMovies" class="post pointer flex column">
                    <div class="img-container">
                        <img class="full-height" src="../../../assets/images/sample-cover.webp" alt="">
                        <div class="p flex z-index column">
                            <p class="no-margin text-end ellipses">{{movie.name}}</p>
                            <small class="text-end">{{movie.duration}}</small>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="no-margin">• <span class="rates">{{movie.likes}}</span></p>
                        <p class="no-margin pointer">• {{movie.title}}</p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>