$light-blue: #3386fe;
$light-gray: #c4cacd;
$light-brown: #70757a;
$socials-bg: #F5F5F5;
$content_bg: white;

app-icon {
    height: 84px;
    margin-left: 4em;
}

.color-brown {
    color: $light-brown !important;
}

.selected-title {
    border-bottom: 2px solid $light-gray;
}

.flicks-options {

    .titles {

        .p {
            p {
                border-radius: 9px;
                font-size: large;
            }
        }

        .input {
            position: relative;

            input {
                padding-left: 2.5em;
                border-radius: 7px;
                border: 1px;
                font-family: "Poppins", sans-serif;
                font-size: 19px;
                background-color: $content_bg;

                &:focus {
                    outline: none;
                }
            }

            .google {
                position: absolute;
                height: 18px;
                left: 19px;
                bottom: 6px;
            }
        }
    }
}

.body-container {
    width: 98%;
    margin-top: .5em;

    .content {
        .post {
            position: relative;

            .mlt {
                text-align: center;
                font-size: 14px;
                background: rgba(0, 0, 0, .7);
                width: 100%;
                color: silver;
                height: 30px;
                line-height: 30px;
            }

            .cover {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #ffffff4f;
                z-index: -1;
            }

            .img-container {
                background-size: cover;
                position: relative;

                img {
                    height: 270px;
                    width: 100%;
                }

                .p,
                .mat-card {
                    position: absolute;
                }

                .open-in-new {
                    font-size: xx-large;
                    color: white;
                    position: absolute;
                    bottom: 48%;
                    right: 45%;
                    display: flex !important;
                }

                .p {
                    color: white !important;
                    right: 0px;
                    left: 0px;
                    top: 1px;
                    font-size: large;
                }

                .mat-card {
                    right: 7px;
                    bottom: 39px;
                    padding: 4px;

                    img {
                        height: 27px;
                    }
                }
            }

            .footer {
                padding: 4px;
                box-sizing: border-box;

                .rates {
                    font-weight: 500;
                }

                p {
                    &:nth-child(1) {
                        font-size: 14px;
                    }

                    &:nth-child(2) {
                        font-size: 12.4px;
                    }
                }
            }
        }
    }

    .support-container {
        font-size: small;

        .support {
            text-decoration: underline;
        }
    
        .coffee-img {
            height: 19px;
            margin-left: .5em;
        }
    }

    .social {
        height: 61px;
        width: 75px;
        cursor: pointer;

        &:nth-child(2) {
            padding-top: 5px;
        }

        .x {
            height: 23px;
        }

        .insta {
            height: 26px;
        }

        .facebook {
            height: 25px;
        }
    }

    .links {
        position: relative;

        .links-txt {
            position: absolute;
            bottom: -22px;
            right: 12px;
        }
    }
}

.about {
    &:hover {
        color: black !important;
    }
}

.google-users {
    color: $light-brown;

    &:hover {
        color: $light-blue;
        text-decoration: underline;
    }
}

.email-contact {
    text-decoration: none;
    color: black;
    font-size: small;

    &:hover {
        text-decoration: underline;
        color: $light-blue;
    }
}

mat-paginator {
    background-color: whitesmoke;
}


.server-404 {
    position: relative;

    .txt-404 {
        font-size: x-large;
    }
}

.mat-drawer-container {
    background-color: $socials-bg;
}

.font-size-x-l {
    font-size: x-large;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.ellipses {
    white-space: nowrap;
    width: 201px;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Responsive

@media screen and (max-width: 582px) {
    .input {
        input {
            width: 187px;
        }
    }

    .sub-titles {
        gap: .5em !important;
        flex-direction: column;
    }

    .content {
        img {
            height: 278px;
        }
    }

    .footer-container {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 395px) {

    .img-container {
        img {
            height: 242px !important;
            max-width: 172px !important;
        }
    }

    .footer {
        p {
            &:nth-child(1) {
                font-size: 13.8px !important;
            }

            &:nth-child(2) {
                font-size: 12.4px !important;
                width: 164px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .post-container {
        gap: .5em !important;
    }
}