<div class="flex column gap-05em flicks-options center-center z-index">
    <div class="flex column m-t-05em">
        <div class="gap-1em titles flex center-center  z-index-300 z-index">
            <div title="Search flicks" class="flex sub-titles center-center gap-3em">
                <div class="input flex center-center gap-05em ">
                    <img class="google z-index pointer" src="../../../assets/images/search.png" alt="">
                    <input type="text" id="search" (keyup)="applyFilter($event)" placeholder="Search Films & TV">
                </div>
                <div class="slider-container flex gap-1em center-center relative">
                    <div class="slider" #slider>
                        <div class="p underline-container flex column relative" (click)="changeFlicksTitle(i)"
                            *ngFor="let flicksTitle of flicksTitles;let i = index">
                            <p *ngIf="i !== 0 && i !== 1" class="no-margin pointer">{{flicksTitle}}</p>
                            <div *ngIf="i === 1" class="watch-trailers-container flex center-center pointer">
                                <p class="no-margin pointer">{{flicksTitle}}</p>
                                <img src="../../../assets/images/youtube.png" alt="">
                            </div>
                            <img *ngIf="i === 0"
                                [class.padding-b-01em]="selectedStreamingPlatform.label === 'primevideo'"
                                class="netflix-title-img pointer" [src]="selectedStreamingPlatform.titleImgPath" alt="">
                            <div class="line" *ngIf="i === selectedTitle"></div>
                        </div>
                        <button *ngIf="showLeftScroll && isMobile" (click)="handleOnSlide('left')" mat-fab
                            color="primary" class="overflow-buttons left absolute">
                            <mat-icon>chevron_left</mat-icon>
                        </button>
                        <button *ngIf="showRightScroll && isMobile" (click)="handleOnSlide('right')" mat-fab
                            color="primary" class="overflow-buttons right absolute">
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="years full-width flex center-center gap-1em">
            <mat-form-field>
                <mat-label>Year</mat-label>
                <mat-select>
                    <mat-option (click)="showAllMovies()">All</mat-option>
                    <mat-option (click)="filter('year',year)" *ngFor="let year of allMoviesYearsArr" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
                <!-- <mat-hint>{{year}}</mat-hint> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Genre</mat-label>
                <mat-select>
                    <mat-option (click)="showAllMovies()">All</mat-option>
                    <mat-option (click)="filter('genre',genre)"
                        *ngFor="let genre of allMoviesGenres" [value]="genre">
                        {{genre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="flex center-center">
    <div class="body-container">
        <div class="content flex j-center gap-05em wrap">
            <div *ngIf="isServerError" class="server-404 flex column center-center full-height">
                <div class="inner-container column flex j-center space-around">
                    <div class="container flex column a-center gap-3em">
                        <div class="flex a-center gap-05em">
                            <mat-icon>error</mat-icon>
                            <p class="font-size-x-l">Server not found.</p>
                        </div>
                    </div>
                    <img src="../../../assets/images/not-found.png" alt="">
                </div>
                <button (click)="reloadPage()" title="Refresh page" mat-raised-button color="primary">Refresh</button>
            </div>
            <router-outlet *ngIf="isContentChanged"></router-outlet>
            <div *ngIf="!isContentChanged" class="post-container flex gap-1em full-width j-center wrap">
                <a [href]="movie.trailerVideo ? movie.trailerVideo : movie.pageUrl" target="_blank"
                    *ngFor="let movie of itemsToShowOnCurrentPage; index as i" class="entertainment-click">
                    <mat-card (mouseover)="showCover(i)" (mouseout)="hideCover()" class="post pointer flex column">
                        <div class="img-container">
                            <img class="full-height"
                                [src]="movie.sizeMediumPhoto ? movie.sizeMediumPhoto : '../../../assets/images/movie-default.png'"
                                alt="">
                            <div class="p flex a-end z-index column">
                                <p class="mlt no-margin full-width ellipses">{{movie.name}}</p>
                                <small>{{movie.duration | durationVerify}}</small>
                            </div>
                            <mat-icon class="open-in-new center-center"
                                *ngIf="hoveredMovie === i && !movie.trailerVideo">open_in_new</mat-icon>
                            <img *ngIf="hoveredMovie === i && movie.trailerVideo" class="youtube-img-icon absolute"
                                src="../../../assets/images/youtube.png" alt="Watch trailer on youtube">
                            <img *ngIf="isOnSelectedStreamingPlatform(movie.streamingPlatforms)"
                                [src]="selectedStreamingPlatform.imgPath"
                                [ngClass]="{'netflix-img-icon': selectedStreamingPlatform.label === 'netflix', 'apple-img-icon': selectedStreamingPlatform.label === 'apple',
                        'prime-video-img-icon': selectedStreamingPlatform.label === 'primevideo','disney-img-icon': selectedStreamingPlatform.label === 'disneyplus' }"
                                class="absolute" alt="">
                        </div>
                        <div class="footer">
                            <p class="no-margin">• <span class="rates">{{movie.likes}}</span></p>
                            <p class="no-margin pointer">• {{movie.title}}</p>
                        </div>
                        <div class="cover" [class.hovered-cover]="hoveredMovie === i">
                        </div>
                    </mat-card>
                </a>
            </div>
            <div *ngIf="showPaginator" class="flex footer-container j-end a-center">
                <div class="flex a-center support-container">
                    <a href="https://www.paypal.com/donate/?hosted_button_id=ZRDT2TQSGBP42" target="_blank">If you find
                        this website useful, feel free to support <span class="support gap-05em">here <img
                                class="coffee-img" src="../../../assets/images/paypal.svg" alt=""></span></a>
                </div>
                <mat-paginator (page)="onPageChange($event)" #paginator [length]="totalItems"
                    [pageSizeOptions]="[60, 140, 180]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>