<div class="flex column gap-05em flicks-options center-center z-index">
    <div class="flex column m-t-05em">
        <div class="gap-1em titles flex center-center  z-index-300 z-index">
            <p (click)="changeFlicksTitle(i)" *ngFor="let flicksTitle of flicksTitles;let i = index"
                [class.selected-title]="i === selectedTitle" class="no-margin pointer">{{flicksTitle}}</p>
        </div>
        <div class="years wrap gap-05em flex a-center">
            <div *ngFor="let year of allMoviesYearsArr;let i as index" class="flex a-center">
                <div class="year-container flex center-center">
                    <p class="no-margin pointer" (click)="filter('year',year)">{{year.toString()}}</p>
                </div>
                <hr [class.hide]="year === allMoviesYearsArr[allMoviesYearsArr.length - 1]" class="hr">
            </div>
        </div>
    </div>
</div>
<div class="p-b-05em flex center-center">
    <div class="body-container">
        <div class="content flex gap-1em wrap max-height-442px">
            <h2 *ngIf="isServerError">Server 404 error!</h2>
            <router-outlet *ngIf="isContentChanged"></router-outlet>
            <div *ngIf="!isContentChanged" class="flex gap-1em wrap j-center">
                <mat-card *ngFor="let movie of allMovies" class="post pointer flex column">
                    <div class="img-container">
                        <p class="no-margin z-index">{{movie.movieName}}</p>
                    </div>
                    <div class="footer">
                        <p class="no-margin">• <span class="rates">{{movie.movieLikes}}</span></p>
                        <p class="no-margin pointer">• {{movie.movieTitle}}</p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>