$light-blue: #3386fe;
$light-gray: #c4cacd;
$light-brown: #70757a;
$color-white: white;
$socials-bg: #F5F5F5;
$undeline-color: #4c7dbf;
$txt-blue: #332068;

.color-white {
    color: white !important;
}

.color-black {
    color: black !important;
}

.txt-blue {
    color: $txt-blue;
}

app-icon {
    height: 84px;
    position: absolute;
    z-index: 300;
    top: 31px;
    left: 56px;
}

mat-sidenav {
    width: 254px;
}

mat-toolbar {
    background-color: black;
    color: white;
}

.main-container {
    height: 100dvh;
}

.gif {
    margin-top: -1em;
    height: 171px;
    width: 149px;
}

.overflow-hidden {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;

    &:focus {
        outline: none;
    }
}

.side-nav-container,
.navItems {
    height: 100dvh;

    .site-stats {
        box-shadow: 3px 3px 3px;
        padding: 5px;
        border-radius: 7px;
    }
}

.about {
    margin-top: -.5em;

    &:hover {
        color: black !important;
    }
}

.display-none {
    display: none;
}

.meter-container {
    // background-image: url('https://images.justwatch.com/poster/134022977/s276/hotel-mumbai.webp');
    // background-size: contain;
    position: relative;
    // margin: -1em;
    // padding: 4px;

    .movie-rates {
        height: 78px;
        z-index: 200;
        position: absolute;
        // bottom: 9px;
        top: 77px;
        right: 70px;
    }
}

.marquee {
    top: 6px;
    height: 117px;
    margin-left: -45em;
}

.card {
    transform: rotate(10deg);
    height: 106px;
    border-radius: 7px;
}

.no-bg {
    background-color: rgba(0, 0, 0, 0.7);
}

.cover-video {
    position: relative !important;

    display: flex;
    justify-content: center;
    align-items: center;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 2;
    background-color: rgb(0, 0, 0);
    height: 100dvh;
    // width: 100%;
    // overflow: hidden;


    video {
        height: 100%;
        // width: 100%;
        object-fit: cover;
        // position: absolute;
        // top: 0;
        // left: 0;
        // height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    mat-icon {
        top: 13px;
        left: 33px;
        z-index: 5;
    }

    p,
    small {
        color: white;
        font-size: x-large;
    }

    small {
        font-size: 21px !important;
    }

    .btn {
        padding: 4px;
        border-radius: 10px;
        background-color: $light-brown;
    }
}

.socials {

    .sub-socials {

        .streamings {
            position: relative;
        }
    }

    .netflix {
        height: 23px;
    }

    .apple-tv {
        height: 29px;
    }

    .prime-video {
        height: 28px;
    }

    .platforms-txt {
        font-size: large;
    }

    .more-streaming {
        position: absolute;
        right: 21px;
        z-index: 1;
        bottom: -12px;

        &:hover {
            color: $undeline-color;
        }
    }
}

.social {
    background-color: #f1f1f1;
    height: 61px;
    width: 75px;
    cursor: pointer;

    &:nth-child(2) {
        padding-top: 5px;
    }

    .x {
        height: 23px;
    }

    .insta {
        height: 26px;
    }

    .facebook {
        height: 25px;
    }
}

.links {
    position: relative;

    .links-txt {
        position: absolute;
        bottom: -22px;
        right: 12px;
    }
}

.z-index-300 {
    z-index: 300;
}

.loading-container {
    width: 26em;
    top: 144px;
    left: -88px;

    h2 {
        font-size: xxx-large;
    }
}

.hide {
    visibility: hidden;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.spinner {
    position: absolute;
    z-index: 1;
    right: calc(50% - 61px);
    top: 42%;
}

.navItems {
    background-color: white;
    padding: 3px;
    padding-top: 5px;
    position: relative;

    .navigators {
        height: 81px;
        padding: 1em 1em 0em 1em;
        margin: -1em -1em 0em -1em;

        .app-title {
            // font-weight: 600;
            // font-size: 27px;
            // width: 160px;
            font-weight: 700;
            font-size: 29px;
            width: 208px;
            z-index: 1;
        }

        .page-name {
            width: 233.48px;
        }
    }

    p {
        font-size: x-large;
        font-weight: 500;

        &:nth-child(1) {
            font-size: large;
        }
    }
}

.auto-title-type {
    width: 100% !important;
    text-align: start !important;
}

.movie-rates {
    width: 104px;

    .stat-container {
        p {
            // font-size: 27px !important;
            font-size: 28px !important;
            font-weight: 600 !important;
        }
    }

    .likes {
        width: 43px;
        rotate: 4deg;
        margin-top: 3px;
    }
}

.google-icon {
    width: 122px;
}

.color-brown {
    color: $light-brown !important;
}

.selected-title {
    border-bottom: 2px solid $light-gray;
}

.flicks-options {

    .title-container {
        width: 77px;
        background-color: $light-blue;
        border-radius: 9px;
    }

    .titles {
        position: relative;

        .p {
            p {
                border-radius: 9px;
                font-size: large;
            }
        }

        .input {
            position: relative;

            input {
                padding-left: 2.5em;
                border-radius: 7px;
                border: 1px;
                font-family: "Poppins", sans-serif;
                font-size: 19px;
                background-color: $color-white;

                &:focus {
                    outline: none;
                }
            }

            .google {
                position: absolute;
                height: 18px;
                left: 19px;
                bottom: 6px;
            }
        }

        .toogle-sideNav {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.body-container {
    width: 98%;
    margin-top: .5em;

    .content {
        .post {
            position: relative;

            .mlt {
                text-align: center;
                font-size: 14px;
                background: rgba(0, 0, 0, .7);
                width: 100%;
                color: silver;
                height: 30px;
                line-height: 30px;
            }

            .cover {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #ffffff4f;
                z-index: -1;
            }

            .img-container {
                background-size: cover;
                position: relative;

                img {
                    height: 270px;
                    width: 100%;
                }

                .p,
                .mat-card {
                    position: absolute;
                }

                .open-in-new {
                    font-size: xx-large;
                    color: white;
                    position: absolute;
                    bottom: 48%;
                    right: 45%;
                    display: flex !important;
                }

                .p {
                    color: white !important;
                    right: 0px;
                    left: 0px;
                    top: 1px;
                    font-size: large;
                }

                .mat-card {
                    right: 7px;
                    bottom: 39px;
                    padding: 4px;

                    img {
                        height: 27px;
                    }
                }
            }

            .footer {
                padding: 4px;
                box-sizing: border-box;

                .rates {
                    font-weight: 500;
                }

                p {
                    &:nth-child(1) {
                        font-size: 14px;
                    }

                    &:nth-child(2) {
                        // font-size: 13.8px;
                        font-size: 12.4px;
                    }
                }
            }
        }
    }
}

.google-users {
    color: $light-brown;

    &:hover {
        color: $light-blue;
        text-decoration: underline;
    }
}

.movie-icon {
    // height: 157px;
    height: 140px;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.hovered-cover {
    z-index: 1 !important;
}

.mat-drawer-container {
    background-color: $socials-bg;
}


.meter-and-likes {
    z-index: 300;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: ghostwhite;

    .meter-likes {
        position: relative;

        .likes {
            position: absolute;
            right: -116px;
            top: 16px;
            height: 43px;
            z-index: 123;
            top: -16px;
        }
    }
}

mat-paginator {
    background-color: $color-white;
}

.m-t-11px {
    margin-top: 11px;
}

.m-r-12px {
    margin-right: 12px;
}

.m-l-5px {
    margin-left: 5px;
}

.m-t-2px {
    margin-top: -8px;
}

.font-size-x-l {
    font-size: x-large;
}

.full-dvh {
    height: 100dvh;
}

.gap-08em {
    gap: .8em;
}

.ellipses {
    white-space: nowrap;
    width: 201px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.server-404 {
    position: relative;

    .txt-404 {
        font-size: x-large;
    }
}

// responsive

@media screen and (max-width: 693px) {

    .loading-container {
        width: 17em;
        // top: 148px;
        left: -40px;

        h2 {
            font-size: xx-large !important;
        }
    }
}

@media screen and (max-width: 1535px) {
    .navItems {
        justify-content: space-around;
    }
}


@media screen and (max-width: 720px) {
    .sub-titles {
        flex-direction: column;
        gap: 1em;
    }

    .content {
        img {
            height: 278px;
        }
    }
}

@media screen and (max-width: 582px) {
    .input {
        input {
            width: 187px;
        }
    }

    .sub-titles {
        gap: .5em !important;
    }
}

@media screen and (max-width: 849px) {
    .footer-container {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 921px) {
    .cover-video {

        mat-icon {
            background-color: #bdbdcd;
            border-radius: 50%;
            padding: 9px;
        }
    }
}

@media screen and (max-width: 549px) {
    .cover-video {
        p {
            font-size: x-large;
        }
    }
}

@media screen and (max-width: 392px) {
    .socials {
        gap: 1em;
    }
}

@media screen and (max-width: 395px) {

    .img-container {
        img {
            height: 242px !important;
        }
    }

    .footer {
        p {
            &:nth-child(1) {
                font-size: 13.8px !important;
            }

            &:nth-child(2) {
                font-size: 12.4px !important;
            }
        }
    }

    .post-container {
        gap: .3em !important;
    }
}