$light-blue: #3386fe;
$light-gray: #c4cacd;
$light-brown: #70757a;

app-icon {
    height: 84px;
    position: absolute;
    z-index: 300;
    top: 31px;
    left: 56px;
}

app-meter {
    left: 80px;
    top: 19px;
}

.main-container {
    position: relative;

    // .s-africa {
    // height: 50px;
    // }
}

.m-r-28px {
    margin-right: 28px;
    
}

.m-r-72px {
    margin-right: 72px !important;
}

.m-b-05em {
    margin-bottom: .5em;
}

.f-s-27px {
    font-size: 27px !important;
}

.hide {
    visibility: hidden;
}

.spinner {
    position: absolute;
    z-index: 1;
    right: calc(50% - 59px);
    top: 43%;
}

.navItems {
    background-color: white;
    padding: 3px;

    .google {
        height: 35px;

        .app-title {
            p {
                font-size: 27px !important;
            }
        }
    }

    .navigators {
        .app-title {
            width: 117px;
            margin-left: -2em;
            width: 143px;
            height: 58px;

            p {
                font-size: 22px !important;
                font-weight: 600 !important;
                margin-left: -1.27em;
                margin-top: -7px;
            }
        }

        .likes {
            height: 35px;
            rotate: 4deg;
        }
    }

    .socials {
        gap: 1em;

        &:hover {

            .insta {
                visibility: visible !important;
            }

            .x {
                visibility: visible !important;
            }
        }

        .likes {
            height: 35px;
        }

        .insta {
            height: 24px;
            visibility: hidden;
        }

        .x {
            height: 23px;
            visibility: hidden;
        }
    }

    p {
        font-size: x-large;
        font-weight: 500;

        &:nth-child(1) {
            font-size: large;
        }
    }
}

.color-brown {
    color: $light-brown;
}

.selected-title {
    background-color: $light-gray !important;
}

.flicks-options {

    .titles {
        p {
            padding: 3px;
            background-color: $light-blue;
            border-radius: 9px;
        }
    }

    .years {
        width: 98%;

        hr {
            width: 5px;
            margin: 0 !important;
        }

        .year-container {
            margin-right: 1em;
            width: 40px;
            height: 30px;

            p {
                &:hover {
                    font-size: large;
                }
            }
        }
    }
}

.body-container {
    width: 85%;
    margin-top: .5em;

    .content {
        .post {
            width: 251px;
            position: relative;

            .cover {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #ffffff4f;
                z-index: -1;
            }

            .img-container {
                height: 80%;
                background-image: url("../../../assets/images/sample-cover.webp");
                background-size: cover;
                height: 337px;
                position: relative;

                p,
                .mat-card {
                    position: absolute;
                }

                .googlePost {
                    bottom: 123px !important;
                    padding: 1px !important;
                    z-index: -1;

                    .google {
                        height: 32px !important;
                    }
                }

                .xPost {
                    bottom: 84px !important;
                    z-index: -1;
                    right: 7px;
                    bottom: 41px;
                    padding: 4px;

                    .x {
                        height: 23px !important;
                    }
                }

                p {
                    color: white !important;
                    right: 5px;
                    top: 3px;
                    font-size: large;
                }

                .instaPost {
                    z-index: -1;
                    padding: 0 !important;

                    img {
                        height: 35px !important;
                    }
                }

                .mat-card {
                    right: 7px;
                    bottom: 39px;
                    padding: 4px;

                    img {
                        height: 27px;
                    }
                }
            }

            .footer {
                padding: 4px;
                box-sizing: border-box;

                .rates {
                    font-weight: 500;
                }
            }
        }
    }
}

.google-users {
    color: $light-brown;

    &:hover {
        color: $light-blue;
        text-decoration: underline;
    }
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.hovered-cover {
    z-index: 1 !important;
}

.meter-and-likes {
    position: relative;
    z-index: 300;
    right: calc(50% - 59px);
    top: 43%;
    .meter-likes {
        position: absolute;
    }
}

// responsive

@media screen and (max-width: 500px) {

    .navigators {
        .app-title {
            margin-left: 0em !important;
        }
    }

    app-icon, app-meter {
        display: none !important;
    }

    .m-r-72px  {
        margin-left: -25px !important;
        // margin-right: 0px !important;
    }
}