<div class="full-dvh">
    <div *ngIf="!loadingEnded" class="meter-and-likes full-height absolute flex center-center">
        <div class="meter-likes z-index-500">
            <img id="like" src="../../../assets/images/likes-white.png" class="likes hide" alt="">
            <div [class.bg-] class="absolute loading-container flex gap-05em">
                <h2 class="no-margin color-black">Loading flicks <span id="loader-dots"></span></h2>
            </div>
        </div>
        <app-meter></app-meter>
    </div>
    <mat-sidenav-container class="side-nav-container">
        <mat-sidenav #sideNav mode="over" opened>
            <nav *ngIf="loadingEnded" class="navItems overflow-hidden flex column j-center border-box gap-1em">
                <div class="flex gap-2em column">
                    <div class="navigators center-center flex">
                        <div class="flex center-center">
                            <p id="auto-title-type"
                                [ngClass]="{'auto-title-type': doAutoTyping, 'text-center' : !doAutoTyping}"
                                (click)="changeFlicksContent(3)" title="Home"
                                class="app-title color-white no-margin pointer">
                                Likes Meter Flicks
                            </p>
                        </div>
                    </div>
                    <div id="marquee" class="absolute marquee flex gap-1em full-width">
                        <img *ngFor="let movieOrShow of allFlicksImages.slice(0, 20).reverse()" class="card"
                            [src]="movieOrShow.sizeMediumPhoto" alt="">
                    </div>
                    <div class="meter-container flex center-center">
                        <app-meter *ngIf="loadingEnded && !reRunMainMeter" class="app-meter"></app-meter>
                        <app-meter class="app-meter" *ngIf="reRunMeter"></app-meter>
                        <div class="flex movie-rates column">
                            <div class="flex gap-05em">
                                <div class="stat-container flex column a-center" (click)="changeFlicksContent(i)"
                                    *ngFor="let navItem of navItems; index as i">
                                    <p [class.color-brown]="i === 1" class="no-margin color-white pointer z-index">
                                        {{navItem}}</p>
                                    <!-- <div *ngIf="moviesLikesSelection === i" class="underline"></div> -->
                                </div>
                            </div>
                            <div class="flex m-t-2px" [class.j-center]="moviesLikesSelection === null"
                                [class.m-l-5px]="moviesLikesSelection === 0" [class.j-end]="moviesLikesSelection === 2"
                                [class.m-r-12px]="moviesLikesSelection === 2">
                                <!-- <img class="likes" src="../../../assets/images/likes.png" alt=""> -->
                                <img class="likes" src="https://www.freeiconspng.com/uploads/white-like-icon-png-20.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="socials flex column center-center gap-1em">
                    <div class="flex column sub-socials gap-1em">
                        <div class="flex column">
                            <p class="no-margin text-center txt-blue">Stream on your favourite</p>
                            <div class="flex a-center gap-05em streamings">
                                <img class="apple-tv" src="../../../assets/images/apple-tv.png" alt="">
                                <img class="netflix" src="../../../assets/images/netflix.png" alt="">
                                <p class="no-margin platforms-txt"><strong>platforms</strong></p>
                                <p class="no-margin more-streaming pointer"><strong>...</strong></p>
                                <!-- <img class="prime-video" src="../../../assets/images/prime-video.png" alt=""> -->
                            </div>
                        </div>
                        <div class="flex center-center">
                            <div class="site-stats flex column gap-05em">
                                <h2 title="Total films" class="no-margin color-black">Films: <span
                                        class="color-brown">{{totalFilms}}</span></h2>
                                <h2 title="Total tv shows" class="no-margin color-black">TV Shows: <span
                                        class="color-brown">{{totalTvShows}}</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex center-center links gap-05em">
                    <mat-card class="social flex column center-center">
                        <img class="facebook" src="../../../assets/icons/facebook.svg" alt="">
                        <small>Facebook</small>
                    </mat-card>
                    <a target="_blank"
                        [href]="moviesLikesSelection !== 0 ? 'https://twitter.com/90meterflicks/': 'https://twitter.com/80meterflicks/'"
                        class="follow-link">
                        <mat-card class="social flex column center-center">
                            <img class="x" src="../../../assets/images/x.svg" alt="">
                            <small>X</small>
                        </mat-card>
                    </a>
                    <a target="_blank"
                        [href]="moviesLikesSelection !== 0 ? 'https://instagram.com/90meterflicks/': 'https://instagram.com/80meterflicks/'"
                        class="follow-link">
                        <mat-card class="social flex column center-center">
                            <img class="insta" src="../../../assets/images/instagram.png" alt="">
                            <small>Instagram</small>
                        </mat-card>
                    </a>
                </div>
                <h2 (click)="openAboutLmf()" class="about text-center pointer no-margin color-brown">About</h2>
                <img class="gif" src="https://media.tenor.com/-H_3af6FuioAAAAi/shytv-anime.gif" alt="">
            </nav>
        </mat-sidenav>
        <mat-sidenav-content [class.no-bg]="!isDiscovering" class="relative">
            <div [class.display-none]="isDiscovering" class="cover-video absolute flex full-width center-center">
                <!-- <video  type="video/mp4"  src="../../../assets/images/1677864907_video_h265_tablet.mp4"></video> -->
                <video id="video" preload="auto" playsinline controlslist="nodownload" muted autoplay loop>
                    <source type="video/mp4" />
                    <source type="video/ogg" />
                    <source type="video/webm" />
                </video>
                <mat-icon (click)="closeSideNav()" class="absolute pointer color-white">menu</mat-icon>
                <div class="flex column center-center absolute gap-1em">
                    <p>DISCOVER GREAT CINEMA</p>
                    <div (click)="changeDisplays()" class="btn pointer">
                        <small class="no-margin">GET STARTED</small>
                    </div>
                </div>
            </div>
            <mat-spinner [class.hide]="hideSpinner" class="spinner absolute"></mat-spinner>
            <div *ngIf="isDiscovering" class="flex column full-height">
                <div *ngIf="loadingEnded" class="full-height">
                    <router-outlet *ngIf="isContentChanged"></router-outlet>
                    <div *ngIf="!isContentChanged" class="flex center-center flicks-options">
                        <div class="flex column m-t-05em">
                            <div class="titles flex center-center z-index">
                                <div class="flex sub-titles center-center gap-3em">
                                    <div title="Search flicks" class="input flex center-center gap-05em ">
                                        <img class="google z-index pointer" src="../../../assets/images/google.png"
                                            alt="">
                                        <input type="text" id="search" (keyup)="applyFilter($event)"
                                            placeholder="Search Films & TV">
                                    </div>
                                    <div class="flex gap-1em center-center">
                                        <div class="p" (click)="changeFlicksTitle(i)"
                                            *ngFor="let flicksTitle of flicksTitles;let i = index"
                                            [class.selected-title]="i === selectedTitle">
                                            <p class="no-margin pointer">{{flicksTitle}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="years full-width flex center-center">
                                <mat-form-field>
                                    <mat-label>Year</mat-label>
                                    <mat-select>
                                        <mat-option (click)="showAllYears()">All</mat-option>
                                        <mat-option (click)="filter('year',year)" *ngFor="let year of allMoviesYearsArr"
                                            [value]="year">
                                            {{year}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-hint>{{year}}</mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isContentChanged" class="flex center-center">
                        <div class="body-container">
                            <div class="content flex gap-05em column wrap">
                                <div *ngIf="isServerError" class="server-404 flex column center-center full-height">
                                    <div class="inner-container column flex j-center space-around">
                                        <div class="container flex column a-center gap-3em">
                                            <div class="flex a-center gap-05em">
                                                <mat-icon>error</mat-icon>
                                                <p class="font-size-x-l">Server not found.</p>
                                            </div>
                                        </div>
                                        <img src="../../../assets/images/not-found.png" alt="">
                                    </div>
                                    <button (click)="reloadPage()" title="Refresh page" mat-raised-button
                                        color="primary">Refresh</button>
                                </div>
                                <div class="post-container flex j-center gap-1em wrap">
                                    <a [href]="movie.pageUrl" target="_blank"
                                        *ngFor="let movie of itemsToShowOnCurrentPage; index as i"
                                        class="entertainment-click">
                                        <mat-card (mouseover)="showCover(i)" (mouseout)="hideCover()"
                                            class="post pointer flex column">
                                            <div class="img-container">
                                                <img class="full-height"
                                                    [src]="movie.sizeMediumPhoto ? movie.sizeMediumPhoto : '../../../assets/images/movie-default.png'"
                                                    alt="">
                                                <div class="p flex a-end z-index column">
                                                    <p class="mlt no-margin full-width ellipses">{{movie.name}}</p>
                                                    <small>{{movie.duration}}</small>
                                                </div>
                                                <mat-icon class="open-in-new center-center"
                                                    *ngIf="hoveredMovie === i">open_in_new</mat-icon>
                                            </div>
                                            <div class="footer">
                                                <p class="no-margin">• <span class="rates">{{movie.likes}}</span></p>
                                                <p class="no-margin pointer">• {{movie.title}}</p>
                                            </div>
                                            <div class="cover" [class.hovered-cover]="hoveredMovie === i">
                                            </div>
                                        </mat-card>
                                    </a>
                                </div>
                                <div *ngIf="showPaginator" class="flex footer-container j-end">
                                    <mat-paginator (page)="onPageChange($event)" #paginator [length]="totalItems"
                                        [pageSizeOptions]="[10, 25, 100]" aria-label="Select page">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>