<div class="main-container">
    <div *ngIf="!loadingEnded" class="meter-and-likes absolute flex center-center">
        <div class="meter-likes z-index-500">
            <!-- <img src="../../../assets/images/meter.png" class="meter" alt=""> -->
            <img src="../../../assets/images/likes.png" class="likes" alt="">
            <div class="absolute loading-container">
                <h2 class="no-margin color-white">Loading flicks ...</h2>
            </div>
        </div>
        <app-meter></app-meter>
    </div>
    <div class="flex column full-height side-nav-container">
        <mat-sidenav-container class="full-height">
            <mat-sidenav #sideNav mode="over" opened>
                <div *ngIf="loadingEnded" class="main-container">
                    <nav class="flex column j-center">
                        <div class="navItems flex column flex-1 border-box center-center gap-3em">
                            <div class="flex column a-center gap-05em">
                                <div class="meter-container app-meter-container">
                                    <app-meter *ngIf="loadingEnded && !reRunMainMeter" class="app-meter"></app-meter>
                                    <app-meter class="app-meter" *ngIf="reRunMeter"></app-meter>
                                    <div class="likes-container">
                                        <img src="../../../assets/images/likes.png" class="likes" alt="">
                                    </div>
                                </div>
                                <div class="navigators flex column">
                                    <div class="flex page-name a-center gap-1em">
                                    </div>
                                    <div class="flex column">
                                        <div class="flex">
                                            <div class="app-title flex center-center">
                                                <p (click)="changeFlicksContent(3)"
                                                    [class.f-s-27px]="moviesLikesSelection === 3"
                                                    class="no-margin text-center pointer z-index">Likes Meter Flicks</p>
                                                <img class="africa-icon" src="../../../assets/images/s-africa.png"
                                                    alt="">
                                            </div>
                                            <div class="flex m-t-1em">
                                                <div class="stat-container flex center-center"
                                                    (click)="changeFlicksContent(i)"
                                                    *ngFor="let navItem of navItems; index as i">
                                                    <p [class.color-brown]="i === 0 || i === 2"
                                                        class="no-margin pointer">
                                                        {{navItem}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex j-end">
                                            <img class="likes " [class.m-r-34px]="!moviesLikesSelection"
                                                [class.m-r-72px]="moviesLikesSelection === 0"
                                                [class.m-r-10px]="moviesLikesSelection === 2"
                                                src="../../../assets/images/likes.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="socials flex column center-center gap-1em">
                                <div class="flex column">
                                    <p class="no-margin">Follow <strong>Us</strong></p>
                                    <hr class="full-width">
                                    <div class="flex gap-05em">
                                        <mat-card (click)="followRoute('facebook')"
                                            class="social flex column center-center">
                                            <img class="facebook" src="../../../assets/icons/facebook.svg" alt="">
                                            <small>Facebook</small>
                                        </mat-card>
                                        <mat-card (click)="followRoute('x')" class="social flex column center-center">
                                            <img class="x" src="../../../assets/images/x.svg" alt="">
                                            <small>X</small>
                                        </mat-card>
                                        <mat-card (click)="followRoute('instagram')"
                                            class="social flex column center-center">
                                            <img class="insta" src="../../../assets/images/instagram.png" alt="">
                                            <small>Instagram</small>
                                        </mat-card>
                                    </div>
                                </div>
                                <img src="../../../assets/images/movies-icon.png" class="movie-icon" alt="">
                            </div>
                        </div>
                    </nav>
                </div>
            </mat-sidenav>
            <mat-sidenav-content class="relative">
                <mat-spinner [class.hide]="hideSpinner" class="spinner absolute "></mat-spinner>
                <div class="flex column">
                    <div *ngIf="loadingEnded">
                        <router-outlet *ngIf="isContentChanged"></router-outlet>
                        <div *ngIf="!isContentChanged" class="flex center-center flicks-options">
                            <div class="flex column m-t-05em">
                                <div class="titles flex center-center  z-index-300 z-index">
                                    <div class="flex sub-titles center-center gap-3em">
                                        <div class="input flex center-center gap-05em ">
                                            <img class="google z-index pointer" src="../../../assets/images/google.png" alt="">
                                            <input type="text" id="search" (keyup)="applyFilter($event)" placeholder="Search">
                                        </div>
                                        <div class="flex gap-1em center-center">
                                            <p (click)="changeFlicksTitle(i)"
                                                *ngFor="let flicksTitle of flicksTitles;let i = index"
                                                [class.selected-title]="i === selectedTitle" class="no-margin pointer">
                                                {{flicksTitle}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="years full-width border-box wrap gap-05em flex a-center center-center">
                                    <div *ngFor="let year of allMoviesYearsArr;let i as index" class="flex a-center">
                                        <div class="year-container flex center-center">
                                            <p class="no-margin pointer" (click)="filter('year',year)">{{year}}</p>
                                        </div>
                                        <hr [class.hide]="year === allMoviesYearsArr[allMoviesYearsArr.length - 1]"
                                            class="hr">
                                    </div>
                                </div>
                                <div class="flex center-center">
                                    <mat-paginator (page)="onPageChange($event)" #paginator [length]="totalItems" *ngIf="showPaginator" [pageSizeOptions]="[5, 10, 25, 100]"
                                        aria-label="Select page">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isContentChanged" class="p-b-05em flex center-center">
                            <div class="body-container">
                                <div class="content flex gap-1em column wrap">
                                    <div *ngIf="isServerError" class="server-404 flex column center-center full-height">
                                        <div class="inner-container column flex j-center space-around">
                                            <div class="container flex column a-center gap-3em">
                                                <div class="flex a-center gap-05em">
                                                    <mat-icon>error</mat-icon>
                                                    <p class="font-size-x-l">Server not found.</p>
                                                </div>
                                            </div>
                                            <img src="../../../assets/images/not-found-ghost-white.png" alt="">
                                        </div>
                                        <button (click)="reloadPage()" title="Refresh page" mat-raised-button
                                            color="primary">Refresh</button>
                                    </div>
                                    <div class="flex gap-1em wrap">
                                        <mat-card (click)="routeTo(movie.pageUrl)" (mouseover)="showCover(i)"
                                            (mouseout)="hideCover()" *ngFor="let movie of itemsToShowOnCurrentPage; index as i"
                                            class="post pointer flex column">
                                            <div class="img-container">
                                                <img class="full-height img-null"
                                                    [src]="movie.sizeMediumPhoto ? movie.sizeMediumPhoto : '../../../assets/images/movie-default.png'"
                                                    alt="">
                                                <div class="p flex a-end z-index column">
                                                    <p class="no-margin text-end ellipses">{{movie.name}}</p>
                                                    <small>{{movie.duration}}</small>
                                                </div>
                                                <mat-icon class="open-in-new center-center"
                                                    *ngIf="hoveredMovie === i">open_in_new</mat-icon>
                                            </div>
                                            <div class="footer">
                                                <p class="no-margin">• <span class="rates">{{movie.likes}}</span></p>
                                                <p class="no-margin pointer">• {{movie.title}}</p>
                                            </div>
                                            <div class="cover" [class.hovered-cover]="hoveredMovie === i">
                                            </div>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>