<div class="flex center-center flicks-options">
    <div class="flex column m-t-05em">
        <div class="gap-1em titles flex center-center z-index-300  z-index">
            <div class="flex sub-titles center-center gap-3em">
                <div  title="Search flicks" class="input flex center-center gap-05em ">
                    <img class="google z-index pointer" src="../../../assets/images/google.png" alt="">
                    <input type="text" id="search" (keyup)="applyFilter($event)" placeholder="Search Films & TV">
                </div>
                <div class="flex gap-1em center-center">
                    <div class="p" (click)="changeFlicksTitle(i)" *ngFor="let flicksTitle of flicksTitles;let i = index"
                        [class.selected-title]="i === selectedTitle">
                        <p class="no-margin pointer">{{flicksTitle}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="years full-width flex center-center">
            <mat-form-field>
                <mat-label>Year</mat-label>
                <mat-select>
                    <mat-option (click)="showAllYears()">All</mat-option>
                    <mat-option (click)="filter('year',year)" *ngFor="let year of allMoviesYearsArr" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
                <!-- <mat-hint>{{year}}</mat-hint> -->
            </mat-form-field>
        </div>
    </div>
</div>
<div class="flex center-center">
    <div class="body-container">
        <div class="content flex j-center gap-05em wrap">
            <div *ngIf="isServerError" class="server-404 flex column center-center full-height">
                <div class="inner-container column flex j-center space-around">
                    <div class="container flex column a-center gap-3em">
                        <div class="flex a-center gap-05em">
                            <mat-icon>error</mat-icon>
                            <p class="font-size-x-l">Server not found.</p>
                        </div>
                    </div>
                    <img src="../../../assets/images/not-found.png" alt="">
                </div>
                <button (click)="reloadPage()" title="Refresh page" mat-raised-button color="primary">Refresh</button>
            </div>
            <router-outlet *ngIf="isContentChanged"></router-outlet>
            <div *ngIf="!isContentChanged" class="post-container flex gap-1em full-width j-center wrap">
                <a [href]="movie.pageUrl" target="_blank"
                    *ngFor="let movie of itemsToShowOnCurrentPage; index as i" class="entertainment-click">
                    <mat-card (mouseover)="showCover(i)" (mouseout)="hideCover()"
                        class="post pointer flex column">
                        <div class="img-container">
                            <img class="full-height"
                                [src]="movie.sizeMediumPhoto ? movie.sizeMediumPhoto : '../../../assets/images/movie-default.png'"
                                alt="">
                            <div class="p flex a-end z-index column">
                                <p class="mlt no-margin full-width ellipses">{{movie.name}}</p>
                                <small>{{movie.duration}}</small>
                            </div>
                            <mat-icon class="open-in-new center-center"
                                *ngIf="hoveredMovie === i">open_in_new</mat-icon>
                        </div>
                        <div class="footer">
                            <p class="no-margin">• <span class="rates">{{movie.likes}}</span></p>
                            <p class="no-margin pointer">• {{movie.title}}</p>
                        </div>
                        <div class="cover" [class.hovered-cover]="hoveredMovie === i">
                        </div>
                    </mat-card>
                </a>
            </div>
            <div *ngIf="showPaginator" class="flex footer-container full-width space-around a-center">
                <h2 (click)="openAboutLmf()"
                    class="about text-center pointer no-margin color-brown">About</h2>
                <!-- <img class="gif" src="https://media.tenor.com/-H_3af6FuioAAAAi/shytv-anime.gif" alt=""> -->
                <div class="flex center-center links">
                    <div class="social flex column center-center">
                        <img class="facebook" src="../../../assets/icons/facebook.svg" alt="">
                        <small>Facebook</small>
                    </div>
                    <a target="_blank" href="https://twitter.com/80likesmeterflx" class="follow-link">
                        <div class="social flex column center-center">
                            <img class="x" src="../../../assets/images/x.svg" alt="">
                            <small>X</small>
                        </div>
                    </a>
                    <a target="_blank" href="https://instagram.com/80likesmeterflicks/" class="follow-link">
                        <div class="social flex column center-center">
                            <img class="insta" src="../../../assets/images/instagram.png" alt="">
                            <small>Instagram</small>
                        </div>
                    </a>
                </div>
                <mat-paginator (page)="onPageChange($event)" #paginator [length]="totalItems"
                     [pageSizeOptions]="[10, 25, 100]"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>