$light-blue: #3386fe;
$light-gray: #c4cacd;
$light-brown: #70757a;
$socials-bg: #F5F5F5;

app-icon {
    height: 84px;
    margin-left: 4em;
}

.selected-title {
    background-color: $light-gray !important;
}

.flicks-options {

    .titles {
        p {
            padding: 3px;
            background-color: $light-blue;
            border-radius: 9px;
        }

        .google {
            height: 30px;
        }
    }

    .years {
        padding: 0px 7px 0px 7px;
        hr {
            width: 5px;
            margin: 0 !important;
        }

        .year-container {
            margin-right: 1em;
            width: 40px;
            height: 30px;

            p {
                &:hover {
                    font-size: large;
                }
            }
        }
    }
}

.body-container {
    width: 98%;
    margin-top: .5em;

    .content {
        .post {
            .img-container {
                background-size: cover;
                position: relative;

                img {
                    height: 312px;
                }

                .p {
                    position: absolute;
                    color: white !important;
                    right: 5px;
                    top: 3px;
                    font-size: large;
                }

                .open-in-new {
                    font-size: xx-large;
                    color: white;
                    position: absolute;
                    bottom: 48%;
                    right: 45%;
                    display: flex !important;
                }
            }

            .footer {
                padding: 4px;
                box-sizing: border-box;

                .rates {
                    font-weight: 500;
                }
            }
        }
    }
}

mat-paginator {
    background-color: whitesmoke;
}

.google-users {
    color: $light-brown;

    &:hover {
        color: $light-blue;
        text-decoration: underline;
    }
}


.server-404 {
    position: relative;
    gap: 5em;

    .txt-404 {
        font-size: x-large;
    }
}

.mat-drawer-container {
    background-color: $socials-bg;
}

.font-size-x-l {
    font-size: x-large;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.ellipses {
    white-space: nowrap;
    width: 201px;
    overflow: hidden;
    text-overflow: ellipsis;
}