/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: ghostwhite;
}

// flex

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.a-end {
    align-items: end;
}

.j-end {
    justify-content: end;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}

.flex-1 {
    flex: 1;
}

.z-index {
    z-index: 1;
}

.wrap {
    flex-wrap: wrap;
}

// spaces

.border-box {
    box-sizing: border-box;
}

.gap-1em {
    gap: 1em;
}

.gap-2em {
    gap: 2em;
}

.gap-05em {
    gap: .5em;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.half-width {
    width: 50%;
}

.half-height {
    height: 50%;
}

.p-b-05em {
    padding-bottom: .5em;
}

// text

.pointer {
    cursor: pointer;
}